* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3e7;
    border: 1px solid #4caf50;
    border-radius: 8px;
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 8px;
}


#author {
    margin-top: 10px;
}

.social-links a {
    margin: 0 5px;
    text-decoration: none;
}

.social-links img {
    height: 30px;
    vertical-align: middle;
    border-radius: 4px;
}